# Geolocation
# Replace these with actual coordinates
NEXT_PUBLIC_WORK_LAT=0
NEXT_PUBLIC_WORK_LNG=0
NEXT_PUBLIC_WORK_RADIUS=200
NEXT_PUBLIC_HOME_LAT=0
NEXT_PUBLIC_HOME_LNG=0
NEXT_PUBLIC_HOME_RADIUS=100
